/* Write your CSS here!
    CSS file has the basic designing elements for your site, like borders, colours, image styles, alignments and arrangements.
    The main reason why we add CSS files for styling rather than including it the HTML file is that you can make your webpage structure (also known as barebones) less complex,
    and more readable
    Here we will have the basic styling features that can make your website more professional and user friendly.
    Bootstrap is also included here so don't worry and just keep designing! */

/* This is how you can add border with rounded corners to the cards */
.card{
    border: 2px solid black;
    border-radius: 5px;
}

/* This is how you can add a margin between the paragraph and the cards */
#id1{ 
    margin: 0.5rem;
}

/* This is how you add border and margin to specific buttons */
.btn-info{
    border: 2px solid black;
    margin-bottom: 2rem;
}
